<div class="flex-horizontal full-width mt-3">
  <button class="btn btn-light mr-1" (click)="reloadOwners()">&#x21bb;</button>
  <button style="margin-left: auto;" (click)="newOwner()" id="insertB">New Owner</button>
</div>

<div class="mt-3">
  <table class="table table-hover">
    <thead>
    <tr>
      <th>Full Name</th>
      <th>E-Mail</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let owner of owners">
      <td>{{owner.prename}} {{owner.surname}}</td>
      <td>{{owner.email}}</td>
      <td>
        <div style="display: grid; grid-template-columns: 50% 50%; gap: 5px;">
          <button (click)="editOwner(owner)" id="editB">Edit</button>
          <button (click)="deleteOwner(owner.ownerID)" id="deleteB">Delete</button>
        </div>
      </td>
    </tr>
    </tbody>
  </table>
</div>
